{% extends "base.html" %}
{% block title %}Week {{ week }} Scoreboard{% endblock %}
{% block content %}
<h1>Week {{ week }} Scoreboard</h1>
<div class="table-scroll">
<table class="leaderboard">
    <tr><th>Rank</th><th>Team</th><th>Points</th></tr>
    {% for score in scores %}
    <tr>
        <td class="rank{% if loop.index <= 3 %} rank-{{ loop.index }}{% endif %}">{{ loop.index }}</td>
        <td>{{ score["team_name"] }}</td>
        <td>{{ score["points"] }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
